/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
} */

.navbar {
  height: 51px;
  border-bottom: 0.5px solid rgb(231, 228, 231);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
  background-color: #064420;
}
.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  flex-flow: row-reverse;
}
.items {
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.center > ul > li > .icon {
  font-size: 16px;
  color: #000;
  position: relative;
  left: 15px;
}
.icons {
  color: #fff;
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.sidebar {
  width: 240px;
  height: 625px;
  background-color: #fbfcff;
  box-shadow: 0px 1.6px 3.6px rgb(0 0 0 / 13%), 0px 0px 2.9px rgb(0 0 0 / 11%);
  position: relative;
}

.top {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #064420;
}
.logo {
  position: relative;
  left: 20px;
}
.logo > span {
  font-size: 18px;
  color: #fff;
  position: relative;
  left: 5px;
  top: 2px;
}
.center {
  padding-left: 10px;
  margin-top: 4rem;
}
.center > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 10px;
  font-weight: bold;
  color: #999;
  margin-top: 15px;
  margin-bottom: 5px;
}

li {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  margin: 5px 0;
}

li.data_list:hover {
  background-color: #fdfaf6;
  box-shadow: 0px 1.6px 3.6px rgb(0 0 0 / 13%), 0px 0px 2.9px rgb(0 0 0 / 11%);
  border-radius: 4px;
}
li > .data_wrapper {
  text-decoration: none;
  color: #000;
  position: relative;
  left: 40px;
  font-size: 15px;
  font-weight: 500;
}
li > a.data_wrapper:hover {
  color: #218f2c;
}
/* li:hover {
  color: #0a58ca;
}
.center > ul > li > .icon:hover {
  color: #0a58ca;
} */
span {
  font-size: 13px;
  font-weight: 600;
  color: #888;
  margin-left: 10px;
}
.corporateClient {
  display: flex;
}
.corporateClientContainer {
  flex: 6;
}
.itemContainer {
  padding: 20px;
  background-color: #e9ecef;
  height: 575px;
}
.list_title {
  font-weight: 500;
  color: grey;
  margin-bottom: 15px;
}
.loan__contant {
  margin: 25px 40px;
}

.list_title > .history__content > thead {
  font-size: 15px;
  padding: 0 10px;
}

.list_title > .history__content {
  background-color: #fff;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 5px;
}
/*-- dashboard card --*/

.list_title,
.dash__content,
.dash__wrapper,
.dash__heading {
  font-size: 22px;
  font-weight: 800;
  color: rgb(33, 37, 41);
}
.list_title,
.card_title {
  color: #218f2c;
  font-weight: 600;
  font-size: 18px;
}
.list_title,
.dash__card,
.card__content {
  font-size: 13px;
  font-weight: 600;
}
.list_title,
.dash__card,
.card-text {
  font-size: 13px;
  font-weight: 600;
}
.dash__card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  box-shadow: 0px 1.6px 3.6px rgb(0 0 0 / 13%), 0px 0px 2.9px rgb(0 0 0 / 11%);
  height: 100%;
}
.dash__card1 {
  /* width: 40%; */
  position: relative;
  /* display: flex;
    flex-direction: column; */
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  box-shadow: 0px 1.6px 3.6px rgb(0 0 0 / 13%), 0px 0px 2.9px rgb(0 0 0 / 11%);
  height: 100%;
}
.dash__card2 {
  /* width: 40%; */
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  box-shadow: 0px 1.6px 3.6px rgb(0 0 0 / 13%), 0px 0px 2.9px rgb(0 0 0 / 11%);
  height: 100%;
}

.card1 {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  box-shadow: 0px 1.6px 3.6px rgb(0 0 0 / 13%), 0px 0px 2.9px rgb(0 0 0 / 11%);
  height: 100%;
  /* width: 580px; */
}
.card2 {
  position: relative;
  /* left: 240px; */
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  box-shadow: 0px 1.6px 3.6px rgb(0 0 0 / 13%), 0px 0px 2.9px rgb(0 0 0 / 11%);
  height: 100%;
}
/** end --*/

/*-- loan information --*/
.modal-header {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
/*-- end -**/

.list_title > div > .button {
  background-color: #17b169;
  color: #fff;
  width: 30%;
  padding: 5px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}

.list_title > .card_text {
  color: #000;
  font-weight: bold;
}

p.card_text.card-text {
  color: #000;
  font-weight: bold;
}

.setting_data > .setting_content {
  width: 50%;
  height: 65vh;
  padding: 10px;
  border-color: rgb(209 213 219);
  border-radius: 5px;
}

.setting_data > .seting_btn {
  display: flex;
  position: relative;
  margin: 2rem 14rem;
  padding: 5px 25px;
  background-color: #064420;
  color: #fff;
  border: none;
  border-radius: 10px;
}

#dropdown-item-button {
  background: none;
  border: none;
}

/*-- crop-advisory button --*/
.list_title > .crop-advisory_button {
  background-color: #064420;
  border: none;
  width: 10%;
  float: right;
  position: relative;
}
.btn:first-child:hover,
:not(.btn-check) + .btn:hover {
  background-color: none;
}
/*-- end --*/

/*--- price store ---*/
.price_tag {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

/*--table --*/

button#controlled-tab-example-tab-home {
  background: none;
  border: none;
  border-bottom: 3px solid green;
  color: #000;
}

button#controlled-tab-example-tab-profile {
  background: none;
  border: none;
  border-bottom: 3px solid green;
  color: #000;
}
button#controlled-tab-example-tab-contact {
  background: none;
  border: none;
  border-bottom: 3px solid green;
  color: #000;
}

/*-- slider image css --*/
.slider {
  position: relative;
  margin-top: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 240px;
  height: 190px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 45%;
  right: 0px;
  font-size: 1.5rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 45%;
  left: 0px;
  font-size: 1.5rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
/*-- end --*/

@media screen and (max-width: 1980px) {
  .sidebar {
    height: 969px;
  }
  .itemContainer {
    height: 918px;
    padding: 25px 0;
  }
}

/*---- setting css ---*/
.profile_wrapper {
  display: flex;
  flex-flow: column;
  position: relative;
  border-radius: 15px;
}

.profile_pic {
  display: block;
  max-width: 6rem;
  height: auto;
  border-radius: 50%;
  margin: 2em auto 2em auto;
}

.profile_title {
  display: flex;
  justify-content: center;
}

.profile_title > p {
  background: none;
  border: none;
  margin-right: 2rem;
  font-size: 16px;
  font-weight: 500;
  /* color: #000;
  background-color: #064420;
  padding: 5px 10px;
  border-radius: 5px; */
  cursor: pointer;
}

/* .profile_title > button.profile_content:hover {
  color: #fff;
} */

/* .profile_title > button.profile_content1 {
  background: none;
  margin-left: 1rem;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  background-color: #064420;
  padding: 5px 10px;
  border-radius: 5px;
} */

/* .profile_title > button.profile_content1:hover {
  color: #fff;
} */

.profile__title {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

/*--- setting css end ---*/

/*--- loan tabs css ---*/
.tabs_wrapper {
  width: 100%;
  /* height: auto; */
  /* min-height: 400px; */
  /* background: #fbfcff; */
  /* margin: 3.5rem auto 1.5rem;
  padding: 2rem 1rem; */
  color: #000;
  border-radius: 1rem;
}

ul.nav-tab {
  width: 60%;
  /* margin: 0; */
  padding: 0;
  display: flex;
  align-items: center;
}

.tabs_wrapper > ul.nav-tab > li {
  padding: 10px 10px;
  /* margin: 0; */
  list-style: none;
  font-size: 15px;
  cursor: pointer;
}

ul.nav-tab li.active {
  color: #218f2c;
  border-bottom: solid;
}

ul.nav-tab1 {
  padding: 0;
  display: flex;
  justify-content: center;
}

.tabs_wrapper > ul.nav-tab1 > li {
  padding: 10px 10px;
  /* margin: 0; */
  list-style: none;
  font-size: 15px;
  cursor: pointer;
}

ul.nav-tab1 li.active {
  color: #218f2c;
}

.firsttab,
.secondtab {
  font-size: 2rem;
}

/*-- end --*/

/*--- crop advisory card css ---*/
.card_wrapper {
  background-color: #fbfcff;
  padding: 1rem 1rem;
  color: #000;
  border-radius: 10px;
  height: auto;
  min-height: 150px;
  margin-bottom: 1rem;
}

.card_content > p {
  font-size: 12px;
  font-weight: 400;
}

.card_wrapper > .card_button > button#btn-1 {
  background: none;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
}

#btn-1 > .btn-icon {
  font-size: 20px;
  position: relative;
  bottom: 1px;
}

.card__footer {
  display: flex;
  position: relative;
  font-size: 12px;
  justify-content: space-between;
}
/*--- end ---*/

/*--- setting css ---*/
.setting_wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

/*--- end ---*/
